extends layout

block layout-content 
    h1.page-title formal 
    .featured
        h2 Feautured Piece
        //-
            image credits: https://bespokeunit.com/articles/shoes/maglieriapelle-pamukkale/ 
        img(src="/images/FFM.jpeg", alt="A pair of custom made brogues", height=400)
        p#fea-span Custom made Maglieriapelle Pamukkale brogues
    .formal-collection 
        h2 Summer Collection
        //-
            image credits: pintrest.com
        .formal-container
            .formal
                img(src="/images/f1.jpeg", alt="A pair of a brogues", height=250, width=250)
            .formal
                img(src="/images/f2.jpeg", alt="A pair of a brogues", height=250)
            .formal
                img(src="/images/f3.jpeg", alt="A pair of a brogues", height=250)
            .formal
                img(src="/images/f4.jpeg", alt="A pair of a brogues", height=250)
            .formal
                img(src="/images/f5.jpeg", alt="A pair of a brogues", height=250)
            .formal
                img(src="/images/f7.jpeg", alt="A pair of a brogues", height=250)
            .formal
                img(src="/images/f8.jpeg", alt="A pair of a brogues", height=250)
            .formal
                img(src="/images/f9.jpeg", alt="A pair of a brogues", height=250)
            .formal
                img(src="/images/f10.jpeg", alt="A pair of a brogues", height=250)