extends layout

block layout-content 
    h1.page-title Sneaker Collection 
    .featured
        h2 Feautured Piece 
        //-
            image credits: pintrest.com
        img(src="/images/SS.jpeg", alt="A pair balenciaga triple S shoes", height=400)
        span#fea-span Balenciaga Triple S
    .sneaker-collection 
        h2 Summer Collection
        //-
            image credits: pexels.com
        .sneaker-container
            .sneaker
                img(src="/images/s1.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s2.jpg", alt="A pair of a sneaker", height=250, width=375)
            .sneaker
                img(src="/images/s4.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s5.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s6.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s7.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s8.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s9.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s10.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s11.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/s12.jpg", alt="A pair of a sneaker", height=250)
            .sneaker
                img(src="/images/f6.jpeg", alt="A pair of a offwhite sneakers", height=250)






